.moviesList {
    background-color: #202020;
    padding-top: 70px;
    text-align: center;
}

.moviesList__container {
    max-width: 1140px;
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 60px;
}

.moviesList__more {
    margin: 50px 0 80px 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 320px;
    height: 32px;
    background: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #fff;
    cursor: pointer;
    border: 1px solid #424242;
    border-radius: 5px;
    -webkit-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}

.moviesList__more:hover {
    background-color: #3DDC84;
    border-color: #3DDC84;
    color: #000;
}

@media screen and (max-width: 1140px) {
    .moviesList__container {
        max-width: 960px;
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 1040px) {
    .moviesList__container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        justify-items: center;
        grid-row-gap: 47px;
    }
}

@media screen and (max-width: 425px) {
    .moviesList {
        padding-top: 40px;
    }

    .moviesList__container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .moviesList__more {
        width: 240px;
        height: 36px;
    }
}