.movies__message_error {
    font-size: 30px;
    font-weight: 500;
    color: rgb(126, 126, 126);
    text-align: center;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
}

.movies__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.movies__image {
    width: 128px;
    height: 128px;
}

.movies__title {
    color: rgb(151, 151, 151);
    margin: 0;
    padding: 20px;
    max-width: 600px;
    text-align: center;
}