.profile {
    padding-top: 74px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.profile__header {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #fff;
    margin: 0 0 123px 0;
}

.profile__form {
    max-width: 410px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 16px;
}

.profile__line {
    margin: 0 0 17px 0;
    padding: 0 0 16px 0;
    color: #fff;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    width: 100%;
    border-bottom: 1px solid #424242;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    white-space: nowrap;
}

.profile__line:last-of-type {
    padding: 0;
    border: none;
}

.profile__input {
    outline: none;
    background: none;
    border: none;
    color: #fff;
    text-align: right;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    max-width: 100%;
    width: 100%;
    margin-left: 15px;
}

.profile__input::-webkit-input-placeholder {
    color: #fff;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
}

.profile__input::-moz-placeholder {
    color: #fff;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
}

.profile__input:-ms-input-placeholder {
    color: #fff;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
}

.profile__input::-ms-input-placeholder {
    color: #fff;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
}

.profile__input::placeholder {
    color: rgb(112, 112, 112);
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
}

.profile__error-same {
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    color: #EE3465;
    margin: 0;
    padding: 0;
    text-align: center;
}

.profile__error {
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
    margin-bottom: 6px;
    opacity: 0;
}

.profile__error_active {
    opacity: 1;
}

.profile__submit {
    margin-top: 220px;
    background: none;
    border: none;
    outline: none;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #fff;
    cursor: pointer;
    -webkit-transition: .4s linear;
    -o-transition: .4s linear;
    transition: .4s linear;
}

.profile__submit:hover {
    font-weight: 500;
    color: #3DDC84;
}

.profile__submit_disabled {
    color: gray;
    cursor: default;
}

.profile__submit_disabled:hover {
    color: gray;
    font-weight: 400;
}

.profile__logout {
    background: none;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #EE3465;
    cursor: pointer;
    -webkit-transition: .4s linear;
    -o-transition: .4s linear;
    transition: .4s linear;
}

.profile__logout:hover {
    color: #ff0000;
}

@media screen and (max-width: 768px) {
    .profile {
        padding-top: 236px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .profile__header {
        margin-bottom: 96px;
    }

    .profile__submit {
        margin-top: 210px;
    }
}

@media screen and (max-width: 425px) {
    .profile {
        padding-top: 70px;
    }

    .profile__header {
        margin-bottom: 80px;
    }

    .profile__submit {
        margin-top: 379px;
        font-size: 12px;
        line-height: 15px;
    }

    .profile__logout {
        font-size: 12px;
        line-height: 15px;
    }
}