.promo {
    background-color: #073042;
}

.promo__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}


.promo__head {
    font-size: 50px;
    line-height: 58px;
    font-weight: normal;
    color: #fff;
    letter-spacing: -0.04em;
    max-width: 730px;
    text-align: center;
    margin: 202px auto 0;
    z-index: 10;
    padding: 0 20px;
}

.promo__logo {
    max-width: 320px;
    max-height: 320px;
    transform: translateY(-65%);
}

@media screen and (max-width: 768px) {
    .promo__head {
        margin-top: 344px;
    }
}

@media screen and (max-width: 540px) {
    .promo__head {
        font-size: 31px;
        line-height: 39px;
        padding: 0 10px;
        margin-top: 225px;
    }

    .promo__logo {
        max-width: 248px;
        max-height: 248px;
    }
}