.navigation {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.navigation__button {
    color: #fff;
    text-decoration: none;
    margin-right: 16px;
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    -webkit-transition: color .4s linear;
    -o-transition: color .4s linear;
    transition: color .4s linear;
}

.navigation__button:hover {
    color: #3DDC84;
}

.navigation__button:last-of-type {
    margin-right: 0;
}

.navigation__button_active {    
    font-weight: 500;
}

.navigation__button_profile {
    margin-left: auto;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100px;
    height: 32px;
    border: 2px solid rgba(255,255,255, .2);
    border-radius: 50px;
    text-align: center;
    -webkit-transition: border .4s linear;
    -o-transition: border .4s linear;
    transition: border .4s linear;
}

.navigation__button_profile:hover {
    border-color: #3DDC84;
}

.navigation__button_home {
    display: none;
}

.navigation__button_profile::before {
    content: '';
    display: inline-block;
    background-image: url('../../images/icon__account-btn.svg');
    width: 12px;
    height: 14px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 7px;
    vertical-align: middle;
}

.navigation__burger {
    display: none;
    position: relative;
}

.navigation__line {
    width: 28px;
    height: 3px;
    background-color: #fff;
    margin-bottom: 7px;
    display: block;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.navigation__line:last-of-type {
    margin-bottom: 0;
}


.navigation__burger_active .navigation__line:nth-child(1) {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 0;
    left: 0;
    position: absolute;
}

.navigation__burger_active .navigation__line:nth-child(2) {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    position: absolute;
}

.navigation__burger_active .navigation__line:nth-child(3) {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    
}


@-webkit-keyframes showNavigation {
    from {
        -webkit-transform: translate(100%);
                transform: translate(100%);
    }

    to {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }
}


@keyframes showNavigation {
    from {
        -webkit-transform: translate(100%);
                transform: translate(100%);
    }

    to {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }
}

@-webkit-keyframes hidenNavigation {
    from {
        -webkit-transform: translate(0%);
                transform: translate(0%);
    }

    to {
        -webkit-transform: translateX(100%);
                transform: translateX(100%);
    }
}

@keyframes hidenNavigation {
    from {
        -webkit-transform: translate(0%);
                transform: translate(0%);
    }

    to {
        -webkit-transform: translateX(100%);
                transform: translateX(100%);
    }
}



@media screen and (max-width: 768px) {
    .navigation {
        position: absolute;
        top: 0;
        right: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        max-width: 520px;
        background-color: #202020;
        height: 100%;
        z-index: 11;
        display: none;
        -webkit-transform: translateX(100%);
            -ms-transform: translateX(100%);
                transform: translateX(100%);
    }

    .navigation__burger {
        display: block;
    }

    .navigation_open {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-animation: showNavigation 1.5s ease-in-out 1 normal forwards;
                animation: showNavigation 1.5s ease-in-out 1 normal forwards;
    }

    .navigation_hidden {
        -webkit-animation: hidenNavigation 1.5s ease-in-out 1 normal forwards;
                animation: hidenNavigation 1.5s ease-in-out 1 normal forwards;
    }

    .navigation__button {
        margin-right: 0;
        margin-bottom: 28px;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
    }

    .navigation__button_home {
        display: block;
        margin-top: 159px;
    }

    .navigation__button_active {
        border-bottom: 2px solid #fff;
    }

    .navigation__button_profile {
        margin-top: auto;
        margin-left: 0;
        margin-bottom: 90px;
        font-weight: 500;
        font-size: 14px;
        line-height: 28px;
    }

    .navigation__burger {
        z-index: 12;
    }
}

@media screen and (max-width: 510px) {
    .navigation__button_home {
        margin-top: 144px;
    }

    .navigation__button_profile {
        margin-bottom: 46px;
        font-size: 14px;
        line-height: 28px;
    }    
}