.navtab {
    background-color: #272727;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navtab__list {
    display: flex;
    list-style-type: none;
    margin: 25px 0;
}

.navtab__item {
    color: #fff;
    font-size: 13px;
    line-height: 16px;
    text-decoration: underline;
    margin-right: 40px;
    font-weight: 500;
}

.navtab__item:nth-last-of-type() {
    margin-right: 0;
}


@media screen and (max-width: 510px) {
    .navtab__item {
        font-size: 11px;
        margin-right: 24px;
    }
}